@tailwind base;
@tailwind components;
@tailwind utilities;


.btn_login {
    @apply rounded-lg border-solid border text-lg py-1 px-6 hover:border-white;
    color: rgba(9, 9, 9, 1);
    background-color: rgba(232, 232, 232, 1);
    border-color: rgba(232, 232, 232, 1);
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.logo_color{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(136, 29, 212))
}