<template>
  <div>

    <header class="py-[1%] bg-[#663399] px-[11%]">
      <div class="grid grid-cols-12 gap-4 w-full">
        <div class="col-span-2">
          <img src="/img/empati.png" width="80%" alt="" class="logo_color">
        </div>
        <div class="col-span-10 my-auto">
          <ul class="flex justify-end items-center space-x-12">
            <li v-for="(val, index) in links" :key="index">
              <nuxt-link :to="`${val.url}`" class="font-sans text-white">{{ val.name }} </nuxt-link>
            </li>
            <li class="flex space-x-4" v-if="!isAuthenticate">
              <nuxt-link to="/login"
                class="cursor-pointer py-3 px-4 bg-white border border-fuchsia-600 text-fuchsia-400 text-sm rounded-md shadow-lg shadow-violet-900 focus:outline-none">
                Login </nuxt-link>
              <nuxt-link to="/register"
                class="cursor-pointer py-3 px-4 bg-white text-fuchsia-500 text-sm rounded-md shadow-lg shadow-violet-900 focus:outline-none">
                Register</nuxt-link>
            </li>
            <li v-else class="relative">
              <figcaption class="flex items-center justify-center space-x-2 text-left">
                <img src="/img/max_user.jpg" alt="" class="w-8 h-8 rounded-full shadow cursor-pointer" loading="lazy"
                  @click="isPerfil = !isPerfil" />
                <div>
                  <div class="text-violet-500 font-bold text-xs dark:text-white uppercase"> {{ user.name }} </div>
                  <div class="text-xs leading-3 text-green-600">Usuario en linea </div>
                </div>
              </figcaption>
              <ul
                class="mt-2 absolute bg-gray-200 text-violet-500 space-y-2 w-[200px] font-sans shadow-sm divide-y divide-dashed divide-blue-200"
                :class="[isPerfil ? 'inline' : 'hidden']" @mouseleave="isPerfil = false">
                <li>
                  <nuxt-link to="/perfil" class="block px-4 py-2 hover:bg-indigo-500/70 hover:text-white rounded-md">
                    Perfil
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="#" class="block px-4 py-2 hover:bg-indigo-500/70 hover:text-white rounded-md"> Cursos
                  </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="#" class="block px-4 py-2 hover:bg-indigo-500/70 hover:text-white rounded-md">
                    Configuracion </nuxt-link>
                </li>
                <li class="mb-10">
                  <nuxt-link
                    class="flex mx-2 my-1.5 py-2 px-3 items-center justify-center bg-indigo-500/70 hover:bg-indigo-500 cursor-pointer text-white text-sm font-semibold rounded-md shadow-lg shadow-indigo-500/50 focus:outline-none"
                    @click="Logout()">Logout</nuxt-link>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </header>
    <slot />
  </div>
</template>
<script>
import { useAuth } from "@/store";
// "Inicio", "Nosotros", "Servicios", "Contacto", "Blog"
const links = [
  { name: "Inicio", url: "/" },
  { name: "Nosotros", url: "/nosotros" },
  { name: "Servicios", url: "/servicios" },
  { name: "Contacto", url: "/contacto" },
  { name: "Blog", url: "/blog" },
];
export default {
  setup() {
    const logoutUser = useAuth()
    logoutUser.getCookies()
    const router = useRouter()
    const Logout = async () => {
      await logoutUser.userLogout()
      router.push("/login")
    }
    const isPerfil = ref(false)
    return {
      links,
      Logout,
      isAuthenticate: computed(() => logoutUser.isLogged),
      user: computed(() => logoutUser.user),
      isPerfil,
      bodyClass: computed(() => logoutUser.bodyClass),
      sideSpaces: computed(() => logoutUser.sideSpaces),
    }
  }
}
</script>