<template>
  <div >
    <section class="px-[11%] py-10 bg-[#663399]">
      <div class="pt-[80px] px-[1%]">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-6 space-y-8">
            <h1
              class="font-extrabold text-transparent  text-5xl  bg-clip-text bg-gradient-to-r from-purple-400 to-purple-800">
              Transformando
              <span
                class="font-extrabold text-transparent text-5xl bg-clip-text bg-gradient-to-r from-purple-500 to-fuchsia-600">
                organizaciones de forma ágil y sostenible </span>
            </h1>
            <p class="font-sans text-purple-400">Somos una consultora y centro de formación especialista en generar
              cambios en las personas para la transformación organizacional.</p>
            <div class="flex space-x-4">
              <button
                class="py-2 px-6 bg-violet-800 text-white text-sm font-semibold rounded-md shadow-lg shadow-violet-900 focus:outline-none">CONTACTANOS
                YA !</button>
              <!-- <button class="flex items-center justify-center font-thin hover:text-green-800 text-white">
              <img src="/img/wat.svg" alt="" />
              whatsapp
            </button> -->
            </div>
            <p
              class="text-violet-400 pb-12 dark:text-sky-400/75 hover:underline hover:decoration-blue-600/75 cursor-pointer">
              o reserva una reunion con nuestro equipo.</p>
          </div>
          <div class="col-span-6">
            <div class="flex justify-center items-center">
              <img src="/img/home_header_img.svg" alt="">
            </div>
          </div>
        </div>

      </div>

      <!-- <h1 class="text-3xl font-bold underline">
      Hello world!
    </h1>
    <button @click="cargar" class="bg-red-500 text-white uppercase px-4 py-2">cargar datos</button> -->
    </section>
    <section class="px-[11%] py-10">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-4 bg-red-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati enim suscipit praesentium aut reiciendis
          iusto modi, nobis in offiquo quaerat, est pariatur! Facere facilis rem natus repellat cupiditate.
        </div>
        <div class="col-span-4 bg-red-600">
          uno
        </div>
        <div class="col-span-4 bg-blue-600">
          uno_
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { useAuth } from "@/store";
export default {
  setup() {
    const authUserData = useAuth();
    const cargar = () => {
      authUserData.getUser()

      //console.info(data)
    }
    return {
      cargar,
      bodyClass: computed(() => authUserData.bodyClass),
    }
  }
}
</script>
