<template>
    <div class="container max-w-full mx-auto py-24 px-6">
        <div class="font-sans">
            <div class="max-w-sm mx-auto px-6">
                <div class="relative flex flex-wrap">
                    <div class="w-full relative">
                        <div class="mt-6">
                            <div class="mb-5 pb-1border-b-2 text-center font-base text-gray-700">
                                <a class="text-blue-500" href="https://twitter.com/framansi">Acceso de entrada</a>
                            </div>
                            <div class="text-center font-semibold text-black">
                                te damos la bienvenida...!
                            </div>

                            <form class="mt-8" @submit.prevent="onLogin">
                                <div class="mx-auto max-w-lg">
                                    <div class="py-2">
                                        <span class="px-1 text-sm text-gray-600">Username</span>
                                        <input v-model="form.usuario" type="text"
                                            class="text-md block px-3 py-2  rounded-lg w-full 
                bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md focus:placeholder-gray-500 focus:bg-white focus:border-gray-600 focus:outline-none">
                                    </div>
                                    <div class="py-2" x-data="{ show: true }">
                                        <span class="px-1 text-sm text-gray-600">Password</span>
                                        <div class="relative">
                                            <input type="text" v-model="form.password" class="text-md block px-3 py-2 rounded-lg w-full 
                bg-white border-2 border-gray-300 placeholder-gray-600 shadow-md
                focus:placeholder-gray-500
                focus:bg-white 
                focus:border-gray-600  
                focus:outline-none">
                                        </div>
                                    </div>
                                    <div class="flex justify-between"><label
                                            class="block text-gray-500 font-bold my-4"><input type="checkbox"
                                                class="leading-loose text-pink-600"> <span
                                                class="py-2 text-sm text-gray-600 leading-snug"> Remember
                                                Me </span></label> <label class="block text-gray-500 font-bold my-4"><a
                                                href="#"
                                                class="cursor-pointer tracking-tighter text-black border-b-2 border-gray-200 hover:border-gray-400"><span>Forgot
                                                    Password?</span></a></label></div>

                                    <button type="submit"
                                        class="mt-3 text-lg font-semibold bg-gray-800 w-full text-white rounded-lg px-6 py-3 block shadow-xl hover:text-white hover:bg-black">
                                        {{ auth.isloading ? "Cargando...." : "Login" }}
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="w-[80%] md:w-[30%] mx-auto bg-emerald-600/5 mt-6">

        <form action="" class="p-5" @submit.prevent="onLogin">
            <h1 class="text-gray-600 text-center text-3xl mb-6">Login Form </h1>
            <div class="my-3">
                <label for="" class="text-md font-semibold"> Enter your Email </label>
                <input type="email" v-model="form.usuario" class="
              outline-none
              w-full
              py-2
              rounded
              bg-transparent
              border-b-2
              text-gray-400 text-lg
              placeholder-white
            " placeholder="Enter Your Email" />
            </div>
            <div class="my-3">
                <label for="" class="text-md font-semibold">
                    Enter your Password
                </label>
                <input type="password" v-model="form.password" class="
              outline-none
              w-full
              py-2
              rounded
              bg-transparent
              border-b-2
              text-gray-400 text-lg
              placeholder-white
            " placeholder="Enter Your Password" />
            </div>
            <button type="submit" class="
            rounded-md
            border
            px-10
            py-2
            bg-pink-600
            text-white text-xl text-semibold
            hover:bg-pink-700
          ">
                {{ auth.isloading ? "Cargando...." : "Login" }}
            </button>
            <label for=""> {{ auth.errors }} </label>
        </form>
    </div> -->
</template>
<script>
import { ref } from 'vue';
import { useAuth } from "@/store";
export default {

    setup() {

        const form = ref({ usuario: 'erika@gmail.com', password: '123456' });
        const auth = useAuth();
        const router = useRouter()

        const onLogin = async () => {
            auth.errors = ''
            await auth.userLogin(form.value)
            if (auth.errors) {

            } else {
                router.push("/")
            }
        };
        return {
            form,
            auth,
            onLogin
        }
    },
}
</script>